**
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!THIRD_PARTY_NOTICES.txt
!src/
!src/**
!tests/
!tests/**
!tools/
!tools/*.c
!tools/coop/
!tools/coop/**
!web/
!web/coop/
!web/coop/**
!out/
!out/build/
!out/build/web/
!out/build/web/site/
!out/build/web/site/**
**/__pycache__/**
